{% extends "PMS/logged_in_layout.html" %} 
{% load static %}

{% block logged_in_title %} 
    {{ project_title }}
{% endblock %}

{% block header_title %} 
    {{ project_title }}
{% endblock %}

{% block project_nav %} 
    <div class="project-nav ms-4 ps-2">
        <a href="{% url 'tasks' project_id %}" class="text-decoration-none p-1 me-5 border-bottom border-secondary border-2 text-secondary">Tasks</a>
        <a href="{% url 'gantt' project_id %}" class="text-decoration-none p-1 me-5">Gantt</a>
        <a href="{% url 'meeting_records' project_id %}" class="text-decoration-none p-1 me-5">Meeting Records</a>
        <a href="{% url 'resources' project_id %}" class="text-decoration-none p-1 me-5">Resources</a>
    </div>
{% endblock %}

{% block hr_spacing_adjustments %} 
    mt-1 mb-0
{% endblock %}

{% block main_content %} 
    <script src="{% static 'PMS/scripts/tasks.js' %}" defer></script>
    <div class="failed-add-task toast text-white bg-danger border-0 top-0 start-50 translate-middle-x position-absolute mt-4" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                <i class="fa fa-exclamation-triangle me-1"></i>
                An error occured, please try again.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    <div class="added-new-task toast text-white bg-success border-0 top-0 start-50 translate-middle-x position-absolute mt-4" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                <i class="fa fa-check me-1"></i>
                Successfully added new task.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    <div class="d-flex">
        <div class="tasks-container overflow-auto w-50 ms-4 ps-3 pt-4">
            <button class="btn btn-outline-primary mb-3" data-bs-toggle="modal" data-bs-target="#addTaskModal">+ Add Task</button>
            <div class="modal fade" id="addTaskModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">New Task</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" id="new-task-form">
                            {% csrf_token %}
                            <input type="hidden" name="project_id" value="{{ project_id }}">
                            {{ new_task_form }}
                            <label for="dependency" class="form-label">Dependency (optional)</label>
                            <select name="dependency" id="dependency" class="form-control">
                                <option value="" disabled selected hidden>Select a task</option>
                                {% for task in task_list %} 
                                    <option value="{{ task.id }}">{{ task.category }}: {{ task.title }}</option>
                                {% endfor %}
                            </select>
                        </form>
                        <p class="text-danger d-none" id="startDateError">Start date has to be before due date.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" id="close-modal" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary" form="new-task-form" id="add-task">Add Task</button>
                    </div>
                  </div>
                </div>
            </div>
            {% for category in categories %}
                <h5 class="border-bottom pb-3 mt-4 mb-0">{{ category }}</h5>
                <table class="task-table table table-hover text-center" id="{{category}}-table">
                    <tbody>
                        {% for task in task_list %} 
                            {% if task.category == category %} 
                                <tr id="task-{{ task.id }}-row" data-task-id="{{ task.id }}">
                                    <td>
                                        <i class="
                                        fa 
                                        fa-2x 
                                        fa-check-circle
                                        task-completion
                                        {% if task.completed %}
                                            text-success
                                        {% else %} 
                                            text-muted
                                        {% endif %}
                                        " data-task-id="{{ task.id }}"></i>
                                    </td>
                                    <td>{{ task.title }}</td>
                                    <td class="
                                        {% if task.is_overdue %} 
                                            text-danger
                                            fw-bold
                                        {% endif %}
                                    ">{{ task.due_date |date:"m/d" }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
        {% for task in task_list %} 
            <div class="w-50 shadow-left task-details-container overflow-auto d-none" id="task-{{ task.id }}-details">
                <div class="p-4">
                    <div class="d-flex justify-content-between mb-4">
                        <h3>{{ task.title }}</h3>
                        <form action="" method="post" class="d-inline toggle-completion-form">
                            {% csrf_token %}
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            {% if task.completed %}
                                <button class="btn btn-success complete-button" data-task-id="{{ task.id }}">Completed</button>
                            {% else %} 
                                <button class="btn btn-outline-success complete-button" data-task-id="{{ task.id }}">Mark as completed</button>
                            {% endif %}
                        </form>
                    </div>
                    <div class="row my-3">
                        <p class="text-muted col-4">Due date:</p>
                        <p class="
                            col-8
                            {% if task.is_overdue %} 
                                text-danger
                                fw-bold
                            {% endif %}
                        ">{{ task.due_date }}</p>
                    </div>
                    <div class="row my-3">
                        <p class="text-muted col-4">Description</p>
                        <p class="col-8">{{ task.description }}</p>
                    </div>
                    <div class="row my-3">
                        <p class="text-muted col-4">Resources</p>
                        <p class="col-8 text-primary fw-bold">
                            {% for resource in resource_list %} 
                                {% if resource.task == task %} 
                                    <a href="{% url 'resources' project_id %}?resource={{ resource.id }}" class="text-decoration-none me-3">{{ resource.title }}</a>
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    <div class="mt-2">
                        <div class="subtasks-header d-flex justify-content-between align-items-center border-bottom pb-3 mt-4">
                            <p class="text-muted mb-0">Subtasks</p>
                            <button class="btn text-primary p-0 m-0" data-bs-toggle="modal" data-bs-target="#addSubtask{{ task.id }}">+ Add</button>
                        </div>
                        <div class="modal fade" id="addSubtask{{ task.id }}" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title">Add Subtask for Task "{{ task.title }}"</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="" method="post" id="newSubtaskForm{{ task.id }}">
                                        {% csrf_token %}
                                        <input type="hidden" name="task_id" value="{{ task.id }}">
                                        <label for="subtaskTitle{{ task.id }}" class="form-label">Title</label>
                                        <input type="text" name="subtask_title" class="form-control" id="subtaskTitle{{ task.id }}" required>
                                        <label for="dueDate{{ task.id }}" class="form-label">Due Date</label>
                                        <input type="date" name="due_date" class="form-control" id="dueDate{{ task.id }}" required>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary close-modal" id="close-modal-subtask-{{task.id}}" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary submit-new-subtask" form="newSubtaskForm{{ task.id }}" data-task-id="{{task.id}}">Add Subtask</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <table class="table text-center subtask-table" id="subtask-table-{{task.id}}">
                            <tbody>
                                {% for subtask in subtask_list %} 
                                    {% if subtask.task == task %} 
                                        <tr>
                                            <td>
                                                <form action="" method="post" class="d-inline">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="subtask_id" value="{{subtask.id}}">
                                                    <i class="
                                                    fa 
                                                    fa-2x 
                                                    fa-check-circle
                                                    subtask-completion
                                                    {% if subtask.completed %}
                                                        text-success
                                                    {% else %} 
                                                        text-muted
                                                    {% endif %}">
                                                    </i>
                                                </form>
                                            </td>
                                            <td>{{ subtask.title }}</td>
                                            <td>{{ subtask.due_date | date:"m/d" }} </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="mt-5" id="message-container-{{task.id}}">
                        <h3 class="border-bottom pb-3 mb-4">Chat</h3>
                        {% for message in message_list %} 
                            {% if message.task == task %} 
                                {% if message.user == user %}
                                    <div class="chat-item-self d-flex justify-content-end">
                                        <p class="border rounded-start p-2 mb-2">
                                            <span class="text-muted message-timestamp">{{message.timestamp |date:"m/d H:i"}}</span>
                                            <br>
                                            {{ message.text }}
                                        </p>
                                        <img src="{{ message.user.picture.url }}" alt="" width="40px" height="40px" class="border rounded-circle ms-3">
                                    </div>
                                {% else %}
                                    <div class="chat-item-other d-flex">
                                        <img src="{{ message.user.picture.url }}" alt="" width="40px" height="40px" class="border rounded-circle me-3">
                                        <p class="border rounded-end p-2 mb-2">
                                            <span class="text-muted message-timestamp">{{message.timestamp |date:"m/d H:i"}}</span>
                                            <br>
                                            {{ message.text }}
                                        </p>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="bg-light px-4 shadow-top d-flex h-25 py-4">
                    <img src="{{ user.picture.url }}" alt="" width="50px" height="50px" class="border rounded-circle me-3 user-picture">
                    <form action="" method="post" class="position-relative w-100">
                        {% csrf_token %}
                        <input type="hidden" name="task_id" value="{{ task.id }}">
                        <textarea class="form-control h-100 pb-4 message-box" name="message" placeholder="Enter your message here" required></textarea>
                        <i class="submit-new-message fa fa-paper-plane position-absolute bottom-0 end-0 mx-4 my-2 text-muted" data-task-id="{{ task.id }}"></i>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}